<section class="blog-font">

  <!--Intro Card-->
  <%= render 'intro_card' %>

  <!--Cards-->
  <!-- Start Row -->
  <div class="row">

    <!--Colorado-->
    <%= render 'location',
      image: 'Romania.JPG',
      location: 'Romania',
      years: '',
      para1: "I am Nicolae. I was born and raised in Romania. I spent all my
            vacations reading and writing books, hiking in the Carpathians,
            playing soccer and tennis. At 14 I discovered the computers and I
            started  coding so that I can produce my own games.",
      para2: "I have always been interested in exploring organizational systems
            and perspectives available worldwide and been appreciative of
            education beyond the classroom.",
      para3: "One day, I have been offered an assignment in the US. I packed my
            bags right away and got ready to face the new experience heads-on."
    %>

    <!--Italy-->
    <%= render 'location',
      image: 'US.JPG',
      location: 'US',
      years: '',
      para1: "I moved to Sunnyvale, California and worked with integrated
            circuits for some time, building programs that automatically design
            them. Work left aside, I travelled a lot, especially during the
            weekends. This way I discovered many beautiful places in California
            and in the neighboring states. Nature has always helped me focus and
             shape the ideas that I work on at different times.",
      para2: "Also, I have built  my first personal computer in Sunnyvale.
            Because I enjoyed the experience and totally loved the final
            product, I kept this habit over the years and I continue building my
             own machines today. Seldom buy.",
      para3: "While not programming for work, I took care of my own projects.
            In college the ANN concept was introduced to us and since then the
            subject became a personal passion and captures a lot of my personal
            time. Robots make for a material presence cross-industry today and
            they have quickly turned into the backbone of our economy. Moreover,
             progress is still happening and not before long, robots and AI
             systems will completely change the world as we know it."
    %>

  <!--End Row-->
  </div>


  <div class="row">

    <!--Netherlands-->
    <%= render 'location',
      image: 'Kings_Canyon.jpg',
      location: 'Kings Canyon',
      years: '',
      para1: "I discovered Kings Canyon National Park travelling around, in one
            of the many weekend outings. It immediately became
            my favorite place to camp.",
      para2: "At work I soon started to develop programs used in testing
            intergrated circuits. Always a fan of automation and of making things
             faster and less prone to error, with a minimum of effort, my
            coleagues joked on my using of automation everywhere.",
      para3: "I started researching the way that the human brain functions and
              after a while I got the idea of the program I am working on today.
             My AI application should be capable of learning by reading
             information on its own and by even freely talking with people, with
              a minimum of resources."
    %>

    <!--San Francisco-->
    <%= render 'location',
      image: 'sf.jpg',
      location: 'San Francisco',
      years: '',
      para1: "A big wish was to expand my knowledge so that I can come even
            closer to coding and developing applications so I slowly switched
            gears and this is how I started to work as a software QA engineer
            first. But that was obviously not enough for my goal so I ended up
            working though the Dev Bootcamp program in San Francisco. It turned
            out to be a good thing to do as it helped me to fill in a few gaps.",
      para2: "Dev Bootcamp meant coding around the clock, often 7 days a week.
            I pushed myself to accomplish at least one project per week, and it
            paid off. By the end of the program, I had built 20+ projects, most
            of them using different technologies, that I had to learn in only a
            couple of days or overnight.",
      para3: "The final project, that I built together with three other
            colleagues, is called Simul. Simul is an application designed to help
             the refugees. It allows them to share personal stories, find
             resources that they need, and get in contact with people that may
             and want to help them."
    %>

  <!-- End Row -->
  </div>

  <div class="row center">
    <div class="divider"></div>
    <br/>
    <h2 class="light-blue-text">My Competencies</h2>
  </div>

  <%= render 'skill_type', skills: @languages %>
  <%= render 'skill_type', skills: @frameworks %>
  <%= render 'skill_type', skills: @libraries %>
  <%= render 'skill_type', skills: @databases %>
  <%= render 'skill_type', skills: @other %>

  <div class="row center">
    <%= link_to "View Projects", projects_path, class: "btn btn-large light-green waves-effect waves-orange" %>
  </div>

</section>
